[submodule "firmware/margaret_stm32f767zi_fw/lib/Adafruit_BNO055"]
	path = firmware/margaret_stm32f767zi_fw/lib/Adafruit_BNO055
	url = https://github.com/adafruit/Adafruit_BNO055.git
[submodule "firmware/margaret_stm32f767zi_fw/lib/LwIP"]
	path = firmware/margaret_stm32f767zi_fw/lib/LwIP
	url = https://github.com/stm32duino/LwIP.git
[submodule "firmware/margaret_stm32f767zi_fw/lib/STM32Ethernet"]
	path = firmware/margaret_stm32f767zi_fw/lib/STM32Ethernet
	url = https://github.com/stm32duino/STM32Ethernet.git
[submodule "firmware/margaret_stm32f767zi_fw/lib/Adafruit_Sensor"]
	path = firmware/margaret_stm32f767zi_fw/lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
